    <div class="fh5co-loader"></div>
    <div id="page">
    
    <!-- begin navbar -->
    <nav class="fh5co-nav">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div id="fh5co-logo"><a href="/">Invent<span>travel</span></a></div>
                </div>
                <div class="col-xs-12 text-center menu-1 hide">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/users/sign_in/">Signin</a></li>
                        <li><a href="/users/sign_up/">Signup</a></li>
                    </ul>
                </div>
            </div>          
        </div>
    </nav>
    <!-- end navbar -->
    
    <!-- begin header -->
    <header id="fh5co-header" class="fh5co-cover" style="background-image:url(theme/images/conference-room.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeInUp">
                            <h1>ONLINE BUSINESS NETWORK FOR TRAVEL INDUSTRY</h1>
                            <p>
                                <a href="/users/sign_in/"><button style="height: 38px; margin-right: 0px;" class="btn btn-default">Signin</button></a>
                                <a href="/users/sign_up/" style="margin-left: 50px;"><button style="height: 38px; margin-right: 0px;" class="btn btn-default">Signup</button></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    
    <!-- begin content -->
    <div id="fh5co-services" class="fh5co-bg-section">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-8 col-md-offset-2 text-center animate-box" data-animate-effect="fadeInUp">
                    <div class="fh5co-heading">
                        <span>We're expert</span>
                        <h2>What We Do</h2>
                        <p>
                            INVENTtravel.com provides you the most effective reach to the most potential travel markets.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 ">
                    <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                        <span class="icon">
                            <img class="img-icon" alt="Travel Queries" src="theme/css/icon/grey/airplane-6-32.png"/>
                        </span>
                        <h3>Queries</h3>
                        <p>
                            Post your query and get competitive quotes from multiple expert travel professionals around the world. You can also choose the best quote and close the deal by directly contacting the travel partners. 
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 ">
                    <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                        <span class="icon">
                            <img class="img-icon" alt="Travel Deals" src="theme/css/icon/grey/cruise-ship-32.png"/>
                        </span>
                        <h3>Travel Deals</h3>
                        <p>
                            Get exciting deals and packages from potential suppliers, DMC's, transporters, Adventure companies, Event companies and hoteliers from across the globe. You can also share your comments on the same deal. 
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 ">
                    <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                        <span class="icon">
                            <img class="img-icon" alt="Travel Networks" src="theme/css/icon/grey/train-32.png"/>
                        </span>
                        <h3>Networking</h3>
                        <p>
                            Add travel partners to your favorite list and contact them using Live Chat for any clarification with regards to unknown destination or any type of assistance which will help you close your sale. Also this will help keeping you updated with latest market trends and innovations in Travel Trade.  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div id="fh5co-started">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <span>Let's go with us</span>
                    <h2>Start Your Journey</h2>
                    <p>
                        INVENTtravel.com is first and only online Business to business portal for travel trade. We bring travel partners (Suppliers, Destination Management Companies, hoteliers, travel agents, Transporters, Event Companies, etc. ) under one roof for discussing market updates, innovations, new trends and getting expertise feedback and competitive quotes on queries. 

                        This platform will help travel agents with all the guidance and support for all types of queries from expert travel professionals across the world to expand and grow their business. 
                    </p>
                    <p><a style="height: 38px;" href="/users/sign_up" class="btn btn-default">Get In Touch</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end content -->
    
    <!-- begin footer -->
    <footer id="fh5co-footer">
        <div class="container">
            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2016 www.inventtravel.com | All Right Reserved</small> 
                    </p>
                    <ul class="fh5co-social-icons">
                        <li><a href="https://www.facebook.com/INVENTtravelcom-580027778874843/"><i class="icon-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>


